h2{
    color: blue;
}
.inputzin{
    background-color: orange;
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.radio1{
    cursor: pointer;
}
.radio2{
    cursor: pointer;
}